@font-face {
    font-family: 'Lato Regular';
    src: url('../../vendor/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Italic';
    src: url('../../vendor/fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../../vendor/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato Light';
    src: url('../../vendor/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 200;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    background-color: #e67e22;
    color: #fff;
}

::selection {
    background-color: #e67e22;
    color: #fff;
}


html {
    background-color: white;
    color: #555555;
    font-family: 'Lato Regular', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.55)), url(../img/food2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.55)), url(../img/food2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.clear {
    clear: both;
}
.clearfix:after {
    clear: both;
    display: table;
    content: "";
    
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
    outline: none;
}


h1, h2, h3 {
    
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
    
}

h1 {
    margin-top: 0;
    font-size: 240%;
    color: #eee;
    word-spacing: 5px;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    text-align: center;
}

h2:after {
    content: "";
    height: 2px;
    width: 200px;
    background-color: #e67e22;
    display: block;
    margin: 30px auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-family: 'Lato Regular', Arial, sans-serif;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:link, .btn:visited, input[type='submit'] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    box-sizing: padding-box;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    margin-right: 15px;
}

.btn-full {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-full:hover {
    background-color: #c96208;
}

a.btn-ghost {
    border: 1px solid #e67e22;
    color: #e67e22;
}
a.btn-ghost:hover {
    background-color: #e67e22;
    color: #fff;
}
.btn:active {
    background-color: #cf6d17;
}


.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 25px;
}

.logo-black {
    height: 55px;
    width: auto;
    float: left;
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Main nav */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li:first-of-type {
    margin-left: 0;
}

.main-nav li a:link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    font-size: 90%;
    -webkit-transition: color 0.3s, border 0.3s;
    transition: color 0.3s, border 0.3s;
}

.main-nav li a:hover, .main-nav li a:active {
    color: #e67e22;
    border-bottom: 1px solid #e67e22;   
}

.main-nav br.break-nav {
    display: none;
}

nav .row:after {
    clear: both;
    content: "";
    display: table;
}

/* Sticky nav */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1309;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0px 12px -2px #888;
}

.sticky .main-nav {
    margin-top: 22px;
}
.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
    color: #555;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
}

.sticky .main-nav li a:hover, 
.sticky .main-nav li a:active {
    border-bottom: 3px solid #e67e22;
}



.sticky .logo { display: none; }
.sticky .logo-black { display: block; }


/* Mobile navigation */
.mobile-nav-icon {
    cursor: pointer;
    float: right;
    margin-top: 30px;
    display: none;
}

.mobile-nav-icon i {
    font-size: 250%;
    color: white;
}

/* ------------------------------------
 *  FEATURES
 * -----------------------------------*/

.long-copyright {
    line-height: 1.45;
    width: 66%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 20px;
    text-align: justify;
}

.feature-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    opacity: 0;
}

/*
.feature-list:after {
    clear: both;
    display: table;
    content: "";
}
*/

.feature-list.animated {
    opacity: 1;
}


.feature-box {
    width: 100%;
    padding: 1%;
    margin-bottom: 70px;
}

.icon-big {
    font-size: 320%;
    display: block;
    color: #e67e22;
    text-align: center;
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 90%;
    line-height: 1.4;
    text-align: justify;
}

/* ------------------------------------
 *  FAVORITE MEALS
 * -----------------------------------*/
#favorite-meals {
    margin: 0;
    padding: 0;
}
.meals-showcase {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.meals-showcase:after {
    content: "";
    display: table;
    clear: both;
}

.meals-showcase li {
/*    display: block;*/
/*    float: left;*/
    width: 25%;
}

.meals-showcase li figure {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.meals-showcase li figure img {
    width: 100%;
    opacity: 0.8;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
}

.meals-showcase li figure img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -ms-transform: scale(1.03);
    opacity: 1;
} 


/* ------------------------------------
 *  HOW IT WORKS
 * -----------------------------------*/
#how-it-works {
    background-color: #f4f4f4;
}


.step-box {
    margin-top: 20px;
}

.step-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.step-box:last-child {
    padding-left: 3%;
    margin-top: 40px;
}

.app-screen {
    width: 42%;
    
}

.works-step {
    margin-bottom: 40px;
}

.iphone {
    opacity: 0;
}

.iphone.animated {
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.steps:after {
    content: "";
    clear: both;
    display: table;
}

.step-number {
    display: inline-block;
    float: left;
    border: 2px solid #e67e22;
    color: #e67e22;
    font-size: 180%;
    line-height: 48px;
    font-family: 'Lato Light', Arial, sans-serif;
    width: 52px;
    text-align: center;
    height: 52px;
    border-radius: 50%;
    margin-right: 20px;
}

.step-info {
    height: 52px;
    font-size: 110%;
    font-family: 'Lato Light', Arial, sans-serif;
}

a.btn-app {
    text-decoration: none;
}

.btn-app img {
    width: auto;
    height: 50px;
    margin-right: 15px;
    margin-top: 30px;
}


/* ------------------------------------
 *  CITIES
 * -----------------------------------*/
.city-list {
    margin-top: 50px;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    opacity: 0;
}

.city-list.animated {
    opacity: 1;
}


/*
.city-list:after {
    content: "";
    clear: both;
    display: table;
}
*/

.city-list li {
    margin: 0;
    padding: 0;
    width: 100%;
}

.city-list li img {
    display: block;
    width: 86%;
    margin: 0 auto;
}

.city-name {
    margin-top: 20px;
}


.city-info p, .city-info a {
    margin-left: 6%;
    line-height: 1.65;
}

.city-info i {
    font-size: 105%;
    display: inline-block;
    color: #e67e22;
    margin-right: 15px;
    width: 20px;
    text-align: center;
    
}

.city-info > i {
    margin-left: 7%;
    font-size: 90%;
    margin-right: 0;
}

.city-info a:link, .city-info a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: color 0.3s, border-bottom 0.3s;
    transition: color 0.3s, border-bottom 0.3s;
}

.city-info a:hover {
    color: #555;
    border-bottom: 1px solid #555;
}



/* ------------------------------------
 *  TESTIMONIALS
 * -----------------------------------*/
#testimonials {
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/back-customers.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/back-customers.jpg');
    background-size: cover;
    color: #dedede;
}

.customer-list {
    margin-bottom: 40px;
}

.customer-list > div {
    margin: 30px auto;
    padding: 0 3%;
}

.customer-list:after {
    content: "";
    display: table;
    clear: both;
}

.customer-list blockquote {
    width: 100%;
    position: relative;
}

.customer-list blockquote p {
    font-style: italic;
    font-size: 100%;
    text-align: justify;
    padding: 0;
    line-height: 1.45;
    margin-bottom: 20px;
}

.customer-list blockquote p:first-child:before {
    content: "\201c";
    display: block;
    position: absolute;
    top: -55px;
    left: -20px;
    font-size: 450%;
    font-family: 'Lato Light', Arial, sans-serif;
}

.customer-list blockquote cite {
    display: block;
    
    
    font-style: normal;
}

.customer-list blockquote cite img {
    width: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

/* ------------------------------------
 *  PRICING
 * -----------------------------------*/

#prices {
    background-color: #f4f4f4;
}

.plans:after {
    clear:both;
    display: table;
    content: "";
}

.plan-box {
    margin-top: 15px;
    box-sizing: padding-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px rgba(237, 120, 17, 0.72);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}


.plan .price {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #efefef; 
}

.plan .price h1 {
    color: #e67e22;
    font-size: 300%;
    text-align: center;
}


.price p {
    font-family: 'Lato Light', Arial, sans-serif;
    font-size: 125%;
    text-align: center;
}

.plan .price h1:after {
    content: "/month";
    text-transform: none;
    font-size: 50%;
    color: #e58d3f;
    font-family: 'Lato Light', Arial, sans-serif;
}

.plan-features {
    padding-top: 18px;
    padding-bottom: 18px;
}

.plan-features ul {
    list-style: none;
    padding-left: 6%;
}

.plan-features ul li {
    line-height: 1.45;
    font-family: 'Lato Light', Arial, sans-serif;
    font-size: 110%;
}

.plan-features ul i {
    color: #e67e22;
    margin-right: 4%;
    font-size: 130%;
    vertical-align: middle;
}

.sign-up {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #efefef;
}

/* ------------------------------------
 *  CONTACT FORM
 * -----------------------------------*/

#sign-up {
    
}

#sign-up > .row:nth-child(2):after {
    clear: both;
    display: table;
    content: "";
}

#contact-form {
    width: 80%;
    padding-left: 15%;
    margin: 0 auto;
    opacity: 0;
}

#contact-form .row .col.span_8_of_12 {
    width: 100%;
    
}

#contact-form.animated {
    opacity: 1;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

#name, #email, #find-us, #message {
    width: 80%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.col-label {
    padding-top: 7px;
}

#contact-form div:nth-of-type(4) .col-label {
    padding: 0;
}

input[type='checkbox'] {
    margin-right: 10px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    
}

#send-button {
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------
 *  FOOTER
 * -----------------------------------*/

#footer {
    background-color: #444;
    color: #bababa;
    height: 160px;
    font-family: 'Lato Light', Arial, sans-serif;
}

#footer a:visited {
    color: #bababa;
}


#footer ul {
    list-style: none;
    margin-top: 20px;

}

#footer ul li {
    display: inline-block;
    
}

#footer-links {
    padding-left: 7%;
}

#footer-links li a:link {
    color: #bababa;
    margin-right: 20px;
    font-size: 90%;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#footer-links li a:hover {
    color: white;
}

#footer .copyright p {
    text-align: center;
    font-family: 'Lato Light', Arial, sans-serif;
    margin-top: 30px;
    font-size: 90%;
}

#footer-socials {
    float: right;
    padding-right: 7%;    
}

#footer-socials li {
    margin-left: 20px;
}

#footer-socials a {
    color: #bababa;
    font-size: 140%;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

#footer-socials a:hover {
    color: #fff;
}

footer p {
    text-align: center;
    font-size: 90%;
    margin-top: 30px;
    margin-bottom: 10px;
}


/* ------------------------------------
 *  MEDIA QUERIES
 * -----------------------------------*/

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 5%;
    }
    .customer-list blockquote cite {
        top: 220px;
    }
   
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    body {
        font-size: 17px;
    }
    
    header nav .row {
        padding: 0 5%;
    }
    
    .hero-text-box {
        font-size: 90%;
    }
    
    section {
        padding: 50px 0;
    }
    
    #contact-form {
        width: 80%;
    }
    
    .long-copyright {
        width: 78%;
        margin-left: 11%;
        margin-right: 11%;
    }
    
    .city-info h3 {
        font-size: 92%;
    }
    
    .city-info p, .city-info a {
        line-height: 1.4;
        font-size: 90%;
    }
    
    .city-info i {
        margin-right: 6px;
        width: 16px;

    }
    
    .city-info > i {
        margin-left: 6%;
        margin-right: -2px;
    }
    
    .step-info {
        font-size: 102%;
    }
    
    .step-box:last-child {
        margin-top: 30px;
    }
    
    .step-number {
        font-size: 160%;
        width: 48px;
        height: 48px;
        line-height: 44px;
        margin-right: 18px;
    }
    
    .btn-app {
        margin-top: 0;
    }
    .btn-app img {
        height: 40px;
        
    }
}

@media only screen and (min-width: 702px) {
     .feature-box {
        width: 25%;
        margin: 0;
        
    }
    
    .city-list li {
        width: 25%;
        margin-left: 0%;
        padding: 0;
    }
}

/* tablets (vertical) */
@media only screen and (min-width: 702px) and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    
    header nav .row {
        padding: 0 5%;
    }
    
    
    .hero-text-box {
        font-size: 85%;
    }
    
    section {
        padding: 30px 0;
    }
    
    h2 {
        font-size: 150%;
    }
    
    .step-box:first-child img{
        width: 50%;
    }
    
    .step-box:last-child {
        margin-top: 20px;
    }
    
    .step-info {
        font-size: 100%;
    }
    
    .step-number {
        font-size: 140%;
        width: 44px;
        height: 44px;
        line-height: 40px;
        margin-right: 16px;
    }
    
    .city-list {
        font-size: 88%;
        margin-top: 20px;
    }

    .city-list li img {
        width: 94%;
    }
    
    .city-info i {
        margin-right: 4px;
        width: 14px;
        margin-left: -2px;
    }
    
    .city-info > i {
        margin-left: 8px;
        margin-right: -2px;
    }
    
    .price h1 {
        font-size: 10%;
    }

    
}



@media only screen and (max-width: 767px) {
    .btn-app img {
        height: 34px;
        margin-top: 0;
    }
    
    .sticky .logo img {
        width: 180px;
        
        margin-top: 25px;
    }
    
    .sticky .main-nav li a:link, 
    .sticky .main-nav li a:visited {
        padding: 22px 0;
    }

}


@media only screen and (max-width: 701px) {
    .btn-app img {
        display: inline-block;
        text-align: center;
    }
    .sticky .logo-black {
        margin-left: 5%;
    }
    
    .span_4_of_12, footer .span_8_of_12 {
        width: 100%;
    }
    
    .meals-showcase li {
        width: 50%;
     }
    
/*
    #contact-form {
        width: 100%;
    }
*/
    
    .plan-box {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    footer .col {
        float: none;
        padding-top: 10px;
        padding-bottom: 0;
    }
    
    footer .col:last-of-type {
        padding-top: 0;
    }
    
    footer p {
        text-align: center;
        font-size: 80%;
        padding-top: 0;
        margin: 0;
        
    }
    
    
    
    #footer-links {
        float: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    
    
    #footer-socials {
        float: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    
    
    
}

@media only screen and (min-width: 481px) and (max-width: 701px) {
    nav .main-nav br.break-nav {
        display: block;
        
    }
    
    .hero-text-box {
        font-size: 80%;
    }
    
    header nav .logo {
        width: 90px;
        height: auto;
    }
    
    .main-nav {
        margin-top: 40px;
        padding-right: 5%;
        
    }
    .main-nav li {
        margin-bottom: 15px;
        
    }
    
    .main-nav li:nth-of-type(1), .main-nav li:nth-of-type(3) {
        margin-left: 0;
    }
    
    .main-nav li:nth-of-type(4) {
        margin-left: 80px;
    }
    
    .main-nav li a:link {
        padding-bottom: 6px;    
    }
    
    .sticky .main-nav li a:link, 
    .sticky .main-nav li a:visited {
        padding: 6px 0;
        border-bottom: 1px solid transparent;
    }

    .sticky .main-nav li a:hover, 
    .sticky .main-nav li a:active {
        border-bottom: 1px solid #e67e22;
    }
    
    .sticky .logo-black {
        margin-left: 5%;
        margin-top: 7px;
        width: 80px;
        height: auto;
    }
    
    .col {
        margin: 1% 0;
        padding: 0;
    }
    
    .plan .plan-box {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    
    
   
}



@media only screen and (min-width: 601px) and (max-width: 701px) {
    
    nav .row {
        padding: 0 5%;
    }
    
    .step-info {
        font-size: 90%;
    }
    
    .feature-box {
        width: 50%;
        padding: 2%;
        
    }
    
    .city-list li {
        width: 50%;
        margin-bottom: 30px;
    }
    
    footer p {
        margin-top: 13px;
    }
    
    
    
}


/* smart phones */
@media only screen and (min-width: 481px) and (max-width: 600px) {
    .col {
        width: 100%;
        margin: 0 0 5% 0;
    }
    
    .long-copyright {
        width: 84%;
        margin-left: 8%;
        margin-right: 8%;
    }
    
    section {
        padding: 25px 0;
    }
    
    h2 {
        font-size: 140%;
    }
    
    .step-box:first-child{
        text-align: center;
    }
    
    .customer-list blockquote {
        width: 100%;
        position: inherit;
    }
    
    .customer-list blockquote cite {
        position: inherit;
    }
    
    header nav .logo {
        margin-left: 5%;
    }
    
    
}



@media only screen and (max-width: 600px) {
    
    
    .hero-text-box {
        text-align: center;
        font-size: 90%;
    }
    
     
    
    
    .feature-box {
        padding: 0 5%;
       
    }
    
    .city-list li {
        margin-bottom: 20px;
        
    }
    
    .city-info {
        margin-bottom: 30px;
    }
    
    .city-info > i {
        margin-left: 6%;
        
    }
    
    .customer-list > div > div {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
       
    }
    
    .step-box.iphone {
        width: 80%;
        margin-left: 10%;
        padding: 0;
        text-align: center;
    }
    
    #contact-form {
        width: 100%;
        padding-left: 7%;
    }
    
    #name, #email, #find-us, #message {
        width: 92%;
    }
    
    
    
}

@media only screen and (max-width: 480px) {

    header nav .logo {
        width: 80px;
        height: auto;
        margin-left: 5%;
    }
    .main-nav {
        display: none;
        float: left;
        margin-top: 35px;
    }
    
    .main-nav li {
        display: block;
        margin-bottom: 5px;
        
    }
    
    .main-nav li a {
        padding: 0;
    }
    
    .main-nav li:first-of-type {
        margin-left: 40px;
        
    }
    
    .main-nav li a:link {
        border: none;
    }
    
    .sticky .main-nav {
        margin-top: 5px;
    }
    
    .sticky .main-nav li a:link, 
    .sticky .main-nav li a:visited {
        padding: 6px 0;
        border-bottom: none;
    }

    .sticky .main-nav li a:hover, 
    .sticky .main-nav li a:active {
        color: #e67e22;
        border-bottom: none;
    }
    
    .meals-showcase li {
        width: 100%;
    }
    
    
    .hero-text-box h1 {
        font-size: 180%;
    }
    
    .hero-text-box a {
        margin-top: 15px;
        font-size: 90%;
    }
    
    .mobile-nav-icon {
        display: block;
        margin-right: 5%;
    }
    
    .mobile-nav-icon i {
        font-size: 180%;
    }
    
    .sticky .logo-black {
        width: 50px;
        height: auto;
        margin-top: 6px;
    }
    
    .sticky .mobile-nav-icon {
        margin-top: 10px;

    }
    
    .sticky .mobile-nav-icon i {
        color: #555;
        font-size: 180%;
        margin-top: 20px;
    }
    
    
    .long-copyright {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .feature-box {
        margin-top: -26px;
       
    }
    
    .feature-box:first-of-type {
        margin-top: 0;
    } 
    
    
    
    
    
}